@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

body
{
}


div
{
  position: absolute;
  left: 50%;
  top: 50%;
}

a:link
{
  color: inherit;
}

.question-number-container
{
  width: 200px;
  height: 200px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 120px;
}

.question-answer-container
{
  padding: 16px;
  padding-bottom: 0px;
  text-align: left;
}

.question
{
  color: #3d3d3d;
  font-family: 'Jost';
  font-size: 20px;
}

.answer
{
  color: #565656;
  font-family: 'IBM Plex Mono';
  font-size: 12px;
}

.button
{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  color: #525252;

  transition: box-shadow 0.5s;
  transition-timing-function: ease-out;
}

.button:hover
{
  color: white;
}
